.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}
.InDesBackground-container {
  position: relative;
  z-index: 2;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border: 6px solid black;
  background-image: url(Medias/callao-cave-exit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s;

  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;     
  padding: 10px; 
}
.InDesBackground-container:hover {
  transform: scale(1.05); 
}
.hidden-text h1 {
    padding: 15px;
    color: white;
    font-size: 30px;
    width: 258px;
    position: relative;
    right: 28px;
    line-height: 1.4;

    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 4px black;
}
.hidden-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: white;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1.1);
}

.InDesBackground-container:hover .hidden-text {
  opacity: 1;
  pointer-events: auto;
}
