body {
    background-color: #F8F3CE;
    color: #222;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #57564F;
    overflow: hidden;
    position: fixed;
    width: 100%;
    color: white;
    border-bottom: 3px solid #444;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}
.navbar a {    
    float: right;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    
    
}
.navbar li a, a {
    color: white;
    text-decoration: none;
}
.navbar ahover{
    background-color: #57564F;
}